<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
    <title>城市消防决策支持系统</title>
</head>
<body>

<nav>
    <button class="knowledge">知识库管理</button>
    <button class="decision">辅助决策</button>
    <button class="system">系统管理</button>
</nav>
<div class="tools">
    <div>
        <button class="btn1"></button>
        <button class="btn2"></button>
        <button class="btn3"></button>
        <button class="btn4"></button>
        <button class="btn5"></button>
        <button class="btn6"></button>
    </div>

</div>
<div class="content">
    <div class="information">
        <div class="title">火灾信息</div>
        <div class="items">
            <div class="item">
                <span class="tag">发生地点：</span>
                <span class="right">
                     <input/>
                     <select>
                         <option>肯定(1.0,0.9)</option>
                         <option>大概(0.8,0.7)</option>
                         <option>可能(0.6,0.5)</option>
                     </select>
                </span>
            </div>
            <div class="item">
                <span class="tag">火灾类别：</span>
                <span class="right">
                    <select>
                        <option>一般性建筑火灾</option>
                        <option>高层建筑火灾</option>
                        <option>地下空间火灾</option>
                        <option>油类火灾</option>
                        <option>一般气体火灾</option>
                        <option>毒气火灾</option>
                        <option>露天堆场火灾</option>
                        <option>交通工具火灾</option>
                        <option>一般性火灾</option>
                    </select>
                    <select>
                        <option>肯定(1.0,0.9)</option>
                        <option>大概(0.8,0.7)</option>
                        <option>可能(0.6,0.5)</option>
                    </select>

                </span>
            </div>
            <div class="item">
                <span class="tag">火灾面积：</span>
                <span class="right">

                    <select>
                        <option>大于1000平米</option>
                        <option>少于1000平米</option>
                        <option>少于600平米</option>
                        <option>少于300平米</option>
                        <option>少于100平米</option>
                    </select>
                    <select>
                        <option>肯定(1.0,0.9)</option>
                        <option>大概(0.8,0.7)</option>
                        <option>可能(0.6,0.5)</option>
                    </select>
                </span>
            </div>
            <div class="item">
                <span class="tag">火灾容积：</span>
                <span class="right">

                    <select>
                        <option>大于10000立方米</option>
                        <option>少于10000立方米</option>
                        <option>少于5000立方米</option>
                        <option>少于3000立方米</option>
                        <option>少于1000立方米</option>
                    </select>
                    <select>
                        <option>肯定(1.0,0.9)</option>
                        <option>大概(0.8,0.7)</option>
                        <option>可能(0.6,0.5)</option>
                    </select>
                </span>
            </div>
            <div class="item">
                <span class="tag">呼叫次数：</span>
                <span class="right">

                    <select>
                        <option>大于5次</option>
                        <option>大于3次且小于5次</option>
                        <option>少于3次</option>
                    </select>
                    <select>
                        <option>肯定(1.0,0.9)</option>
                        <option>大概(0.8,0.7)</option>
                        <option>可能(0.6,0.5)</option>
                    </select>
                </span>
            </div>
            <div class="item">
                <span class="tag">所处阶段：</span>
                <span class="right">

                    <select>
                        <option>初期</option>
                        <option>发展期</option>
                    </select>
                    <select>
                        <option>肯定(1.0,0.9)</option>
                        <option>大概(0.8,0.7)</option>
                        <option>可能(0.6,0.5)</option>
                    </select>
                </span>
            </div>
            <div class="item">
                <span class="tag">火灾火势：</span>
                <span class="right">

                <select>
                    <option>较小</option>
                    <option>小</option>
                    <option>大</option>
                    <option>很大</option>
                    <option>严峻</option>
                </select>
                    <select>
                        <option>肯定(1.0,0.9)</option>
                        <option>大概(0.8,0.7)</option>
                        <option>可能(0.6,0.5)</option>
                    </select>
                </span>
            </div>
            <div class="item">
                <span class="tag">蔓延状态：</span>
                <span class="right">
                    <select>
                        <option>迅猛</option>
                        <option>迅速</option>
                        <option>快</option>
                        <option>无</option>
                    </select>
                    <select>
                        <option>肯定(1.0,0.9)</option>
                        <option>大概(0.8,0.7)</option>
                        <option>可能(0.6,0.5)</option>
                    </select>
                </span>
            </div>
            <div class="item">
                <span class="tag">被困人数：</span>
                <span class="right">
                    <select>
                        <option>大于15</option>
                        <option>大于10</option>
                        <option>小于10</option>
                        <option>小于5</option>
                        <option>0</option>
                    </select>
                    <select>
                        <option>肯定(1.0,0.9)</option>
                        <option>大概(0.8,0.7)</option>
                        <option>可能(0.6,0.5)</option>
                    </select>
                </span>
            </div>
            <div class="item">
                <span class="tag">受伤人数：</span>
                <span class="right">
                    <select>
                        <option>20人以上</option>
                        <option>10人以上</option>
                        <option>小于10</option>
                        <option>小于5</option>
                        <option>0</option>
                    </select>
                    <select>
                        <option>肯定(1.0,0.9)</option>
                        <option>大概(0.8,0.7)</option>
                        <option>可能(0.6,0.5)</option>
                    </select>
                </span>
            </div>
            <div class="item">
                <span class="tag">死亡人数：</span>
                <span class="right">
                <select>
                    <option>大于10人</option>
                    <option>大于3人以上</option>
                    <option>小于3人</option>
                    <option>0</option>
                </select>
                    <select>
                        <option>肯定(1.0,0.9)</option>
                        <option>大概(0.8,0.7)</option>
                        <option>可能(0.6,0.5)</option>
                    </select>
                </span>
            </div>
            <div class="item">
                <span class="tag">突变险情：</span>
                <span class="right">
                    <select>
                        <option>无</option>
                        <option>爆炸</option>
                    </select>
                    <select>
                        <option>肯定(1.0,0.9)</option>
                        <option>大概(0.8,0.7)</option>
                        <option>可能(0.6,0.5)</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="buttons">
            <button>确认</button>
            <button>解释器</button>
            <button>显示</button>
            <button>返回</button>
        </div>
    </div>
    <div class="result">
        <div class="title">结果信息</div>
        <textarea></textarea>
        <div id="container"></div>
    </div>
</div>
<div class="loginArea">
    <div class="shield"></div>
    <div class="popup">
        <div class="bar">
            <a href="javascript:;">×</a>
        </div>
        <div class="bg"></div>
        <div class="username">
            <span class="title">用户名：</span>
            <input>
        </div>
        <div class="password">
            <span class="title">密&nbsp;&nbsp;&nbsp;码：</span>
            <input type="password">
        </div>
        <div class="tip"></div>
        <div class="buttons">
            <a href="javascript:;">登录</a>
            <a href="javascript:;">重置</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=be75ce22e574d1f8e6f015ae1c338539"></script>

<script src="js/sea.js"></script>
<script src="js/sea-config.js"></script>
<script>
    seajs.use('./js/index.js', function (i) {
        i.init();
    })
</script>
</body>
</html>