extends layout

block content
    -for(var i = 0;i<val.length;i++)
        h4 查询结果为:#{val[i]}

    form( action="/search" method="get")
        p First name:
            input(type="text" name="get")
        input(type="submit" value="Submit" )
