.content .twoInputLine {
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}

.content .twoInputLine > * {
    height: 26px;
    margin: 10px;
    width: 200px;
}

.content .twoInputLine > input {
    height: 22px;
    font-size: 18px;
}

.content .twoInputLine button {
    width: 100px;
    vertical-align: middle;
    background-color: #4cb0f9;
    border-color: #4cb0f9;
    color: #FFF;
    border-radius: 4px;
    font-weight: 300;
    cursor: pointer;
    border: none;
}
.content .twoInputLine button:hover{
    text-decoration: none;
    background-color: #428ece;
    outline: none;
}
.table {
    max-height: 400px;
    overflow: auto;
    margin: 10px auto 30px auto;
    text-align: center;
    /*border: 1px solid #bbbbbb;*/
}

.table table {
    border: 1px solid #add9c0;
    padding: 0;
    width: 100%;
}

.table td, .table th {
    border: 1px solid #add9c0;
    margin: -2px;
    min-width: 60px;
    padding: 5px;
}

.table .chooseAble tr {
    cursor: pointer;
}

.table .chooseAble tr:hover {
    background-color: #e7e7e7;
}

.table tr:first-child {
    background-color: inherit;
    cursor: inherit;
}

.table table tr.choosed {
    background-color: #97cebf;
}

.table table tr.choosed:hover {
    background-color: #97cebf;
}

.botInput {
    font-size: 16px;
}

.botInput > span {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    margin-top: -2px;
}
.botInput>span:nth-child(2n+1){
    border-right: 1px solid #4cb0f9;
}

.botInput > span .title {
    margin: 8px 35px;
    display: inline-block;
    min-width: 150px;
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 600;
    vertical-align: middle;
}

.botInput > span > input {
    padding-left: 20px;
    margin: 10px;
    width: 180px;
    height: 22px;
}

.botInput > span > select {
    width: 202px;
    margin: 10px;
    height: 26px;
    padding-left: 20px;
}

.botBtns {
    margin-top: 20px;
    border-top: 1px solid #E2DFDF;
    padding: 10px;
    text-align: center;
}

.botBtns button {
    width: 100px;
    height: 30px;
    font-size: 16px;
    margin: auto 20px;
    background-color: #4cb0f9;
    border-color: #4cb0f9;
    color: #FFF;
    border-radius: 4px;
    font-weight: 300;
    cursor: pointer;
    border: none;
}
.botBtns button:hover{
    text-decoration: none;
    background-color: #428ece;
    outline: none;
}
.content h1{
    margin: 18px auto;
    display: block;
    text-align: center;
}