
html {
    background: white;
}

body {
    font: 14px/20px Microsoft YaHei, Helvetica, Tahoma;
    width: 1000px;
    margin: auto;
    border-top: none;
    background-color: #F7F7F7;
}

* {
    font-family: Microsoft YaHei, Helvetica, Tahoma;
    margin: 0;
    padding: 0;
}

select, input {
    outline: none;
    border: 1px solid #4cb0f9;
}

select:hover, option:hover {
    cursor: pointer;
}

select {
    padding-left: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("../img/arrow.png") no-repeat scroll right center transparent;
    background-size: 11px 9px;

    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.navOuter {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

nav {
    width: 1000px;
    height: 30px;
    background-color: #f4f4f4;
    position: relative;
    margin: auto;
}

::-webkit-scrollbar {
    width: 11px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
}

::-webkit-scrollbar-thumb {
    background-color: #d5d5d5;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cecece;
}

::-webkit-scrollbar-thumb:active {
    background-color: #cecece;
}

nav button {
    height: 100%;
    width: 20%;
    font-size: 17px;
    border: 0;
    outline: none;
    padding: 2px 6px;
    background-color: rgb(116, 197, 255);
    border-color: #4cb0f9;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

nav button.logout, nav button.login {
    float: right;
}

nav button:hover {
    outline: none;
    background-color: #489be1;
}

nav > div {
    width: 20%;
    position: absolute;
    left: 20%;
    z-index: 2;
    display: none;
}

nav > div:first-of-type {
    left: 0;
}

nav > div.system {
    left: 40%;;
}

nav > div.learn {
    left: 60%;
}

nav > div a {
    font-size: 16px;
    display: block;
    text-align: center;
    width: 100%;
    line-height: 30px;
    color: white;
    position: relative;
    background-color: rgb(138, 206, 255);
}

nav > div a:hover {
    background-color: rgb(129, 193, 238);
}

/*nav > div a:first-child {*/
/*border-top: 1px #a5a5a5 solid;*/
/*}*/

nav > div > a:after {
    content: '';
    position: absolute;
    top: 9px;
    right: 6px;
    z-index: 3;
    border-color: transparent transparent transparent #5494C1;
    border-style: solid;
    border-width: 6px;
    width: 0;
    height: 0;
}

nav > div > a.btn21:after, nav > div > a.btn22:after, nav > div > a.btn31:after, nav > div > a.btn32:after, nav > div > a.btn41:after, nav > div > a.btn42:after {
    content: none;
}

nav > div > div {
    display: none;
    position: absolute;
    top: 30px;
    left: 100%;;
}

nav > div > div:first-of-type {
    top: 0px;
}

nav > div > div:last-of-type {
    top: 60px;
}

nav > div.system > div:last-of-type {
    top: 21px;
}

nav > div > div > a {
    width: 205px;
}

.tools {
    width: 100%;
    height: 0;
    background-color: #f4f4f4;
    /*border-bottom: 5px solid deepskyblue;*/
    margin-top: 34px;
}

.tools button {
    float: left;
    background: url("../img/firelevelAddtb.png") no-repeat center;
    width: 38px;
    height: 38px;
    margin: 0 2px;
    border: 4px solid #f4f4f4;
    outline: none;
}

.tools button:hover {
    border: 4px solid #86d2ff;
}

.tools button:active {
    border: 4px solid #7cc2ec;
    cursor: default;
}

.tools div {
    background-color: white;
    height: 100%;
    width: 254px;
}

.tools .btn1 {
    background-image: url("../img/solutionAddtb.png");
}

.tools .btn2 {
    background-image: url("../img/fireTypeAddtb.png");
}

.tools .btn3 {
    background-image: url("../img/firetypeModiAndDeltb.png");
}

.tools .btn4 {
    background-image: url("../img/firelevelAddtb.png");
}

.tools .btn5 {
    background-image: url("../img/firetypeModiAndDeltb.png");
}

.tools .btn6 {
    background-image: url("../img/exittb.png");
}

.loginArea {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 10000px;
    height: 10000px;
    background-color: rgba(221, 221, 221, 0.62);
}

.loginArea .popup {
    width: 280px;
    position: fixed;
    background-color: white;
    border: 5px solid rgb(138, 206, 255);
}

.loginArea .popup .bar {
    width: 100%;
    height: 20px;
    background-color: rgb(138, 206, 255);
}

.loginArea .popup .bar a {
    display: block;
    float: right;
    width: 20px;
    line-height: 20px;
    font-size: 25px;
    margin-top: -3px;
    text-align: center;
    color: black;
}

.loginArea .popup .bar a:active {
    color: white;
}

.loginArea .popup .bg {
    background: url("../img/login.jpg");
    width: 280px;
    height: 60px;
}

.loginArea .popup .title {
    display: inline-block;
    width: 60px;
    text-align: center;
}

.loginArea .popup .username, .loginArea .popup .password, .loginArea .popup .buttons {
    margin: 10px auto;
    width: 100%;
    text-align: center;
}

.loginArea .popup .tip {
    text-align: center;
    color: red;
    display: none;
}

.loginArea .popup .buttons a {
    display: inline-block;
    margin: auto 5px;
    line-height: 25px;
    font-size: 12px;
    width: 60px;
    background-color: #4cb0f9;
    border-color: #4cb0f9;
    color: #FFF;
    border-radius: 4px;
    font-weight: 300;
    cursor: pointer;
    border: none;
}

.loginArea .popup .buttons a:active {
    background-color: #428ece;
}

.content {
    overflow: hidden;
    padding-top: 1px;
    min-height: 550px;
}

.content img.bg {

    width: 100%;
    height: 585px;
}

.content .password {
    width: 290px;
    margin: 115px auto;
    border: 10px outset #4CB0F9;
    padding: 15px;
    font-size: 18px;
}

.content .password > div {
    line-height: 35px;

}

.content .password input {
    height: 22px;
    width: 155px;
    padding-left: 10px;
}

.content .password .btns {
    text-align: center;
}

.content .password button {
    width: 84px;
    line-height: 30px;
    font-size: 16px;
    margin: 16px 6px;
    background-color: #4cb0f9;
    border-color: #4cb0f9;
    color: #FFF;
    border-radius: 4px;
    font-weight: 300;
    cursor: pointer;
    border: none;
}

.content .password button:hover {
    background-color: #428ece;
}

.content .password .tip {
    color: #ff583b;
}

.content > .password > div > * {
    display: inline-block;
    vertical-align: middle;
}

.content > .password > div > span {
    min-width: 120px;

}

.content .password .username > span:last-child {
    display: inline-block;
    border: 1px solid #989898;
    overflow: hidden;
    width: 145px;
    line-height: 24px;
    padding: 0 10px 0 10px;
}

.popArea {
    width: 300px;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0;
    display: none;
    background: #5079BB;
    z-index: 999;
    border-radius: 10px;
}

.popArea .text {
    display: inline-block;
    line-height: 60px;
    width: 195px;
    text-align: center;

    font-size: 23px;
    color: white;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popArea .icon {
    content: ' ';
    background: url("../img/loading.gif") no-repeat center center;
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;

    margin-left: 16px;
}

.popArea .closeBtn {
    background: url("../img/close.png") no-repeat center center;
    display: block;
    width: 28px;
    height: 28px;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    left: 263px;
    top: 2px;
}

.popArea .closeBtn:active {
    cursor: inherit;
}

#exportToWikiPad {
    margin-top: 50px;
    min-height: 500px;
}

#exportToWikiPad .leftPad, #exportToWikiPad .rightPad {
    display: inline-block;
    width: 50%;
    min-height: 500px;
    vertical-align: top;
}

#exportToWikiPad .leftPad {
    border-right: 1px #5079BB solid;
    box-sizing: border-box;
    text-align: center;
}

#exportToWikiPad .rightPad {

}

#exportToWikiPad h2 {
    text-align: center;
}

#exportToWikiPad .tableArea {
    margin-top: 30px;
}

#exportToWikiPad table {
    text-align: center;
}

#exportToWikiPad table input {
    width: 100px;
    height: 23px;
    box-sizing: border-box;
    vertical-align: middle;
}

#exportToWikiPad .leftPad table a, #exportToWikiPad .rightPad table .delete {
    vertical-align: middle;
    margin: 0 10px;
    line-height: 27px;
    width: 87px;
    background-color: #4cb0f9;
    color: #FFF;
    border-radius: 2px;
    font-weight: 300;
    cursor: pointer;
    border: none;
    display: inline-block;
}

#exportToWikiPad .leftPad table a:active, #exportToWikiPad .rightPad table .delete:active {
    color: blue;
}

#exportToWikiPad  td, #exportToWikiPad  th {
    min-width: 100px;
    line-height: 40px;
    vertical-align: middle;
}

#exportToWikiPad .leftPad .exportAll {
    vertical-align: middle;
    margin: 10px 10px;
    line-height: 32px;
    width: 115px;
    background-color: #4cb0f9;
    color: #FFF;
    border-radius: 2px;
    font-weight: 300;
    cursor: pointer;
    border: none;
    display: inline-block;
}
#exportToWikiPad .back{
    vertical-align: middle;
    line-height: 32px;
    width: 115px;
    background-color: #4cb0f9;
    color: #FFF;
    border-radius: 2px;
    font-weight: 300;
    cursor: pointer;
    border: none;
    text-align: center;
    margin: auto;
    display: block;
    margin: 24px auto;
}

.textDispatch{
    margin: 50px auto;
    width: 80%;
    height: 500px;
    display: block;
    resize: none;
    padding: 0 25px;
}
.textDispatchBtns{
    text-align: center;
}
.textDispatchBtns a{
    vertical-align: middle;
    margin: 10px 10px;
    line-height: 32px;
    width: 115px;
    background-color: #4cb0f9;
    color: #FFF;
    border-radius: 2px;
    font-weight: 300;
    cursor: pointer;
    border: none;
    display: inline-block;
}
body .content .leftRightBtn{
    display: inline-block;
    position: absolute;
    top: 19px;
    left: 40%;
    background: url("../img/leftandright.png") no-repeat center;
    width: 30px;
    height: 24px;
    background-size: contain;
    cursor: col-resize;
}